/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #555555;
  }
  .home-page {
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  /* Autres pages sans background */
  body {
    background: var(--background);
  }